.container {width:var(--in);margin:auto;height:auto;overflow-x:hidden;position:relative;padding:var(--p3)}
.container-sm {width:var(--in);margin:auto;height:auto;overflow-x:hidden;position:relative; padding:var(--p2);}
.container-md {width:var(--in);margin:auto;height:auto;overflow-x:hidden;position:relative; padding:var(--p2);}
.container-lg {width:var(--in);margin:auto;height:auto;overflow-x:hidden;position:relative; padding:var(--p3);}
.container-xl {width:var(--in);margin:auto;height:auto;overflow-x:hidden;position:relative; padding:var(--p4);}
.full-container {width:var(--out);margin:auto;height:auto;overflow-x:hidden;position:relative;padding:var(--p5);}
