
.flex {
    display:flex !important;
    position:relative;
    &.justify-center {
        justify-content: center !important;
    }
    &.justify-end {
        justify-content:end !important;
    }
    &.justify-between {
        justify-content: space-between !important;;
    }
    &.justify-evenly {
        justify-content:space-evenly !important;;
    }
    &.justify-around {
        justify-content:space-around !important;;
    }
    &.items-center {
        align-items: center !important;
    }
    &.items-end {
        align-items:end !important;
    }
    &.items-start {
        align-items:start !important;
    }
    &.items-stretch {
        align-items: stretch !important;;
    }
    &.align-content-center {
        align-content:center !important;;
    }
    &.align-content-baseline {
        align-content:baseline !important;;
        
    }
    &.align-content-stretch {
        align-content:stretch !important;;
    }

    //================================================================

    &.gap-1 {
        gap:.4em !important;
    }
    &.gap-2 {
        gap:.6em !important;
    }
    &.gap-3 {
        gap:.8em !important;
    }
    &.gap-4 {
        gap:1em !important;
    }
    &.gap-5 {
        gap:1.5em !important;;
    }

}

.grid {
    display:grid !important;
    position:relative;

    &.gap-1 {
        gap:.4em !important;
    }
    &.gap-2 {
        gap:.6em !important;
    }
    &.gap-3 {
        gap:.8em !important;
    }
    &.gap-4 {
        gap:1em !important;
    }
    &.gap-5 {
        gap:1.5em !important;;
    } 
    
    &.col-1 {
        grid-template-columns: auto;
    }
    &.col-2 {
        grid-template-columns: auto auto;
    }
    &.col-3 {
        grid-template-columns: auto auto auto;
    }
    &.col-4 {
        grid-template-columns: auto auto auto auto;
    }
    &.col-5 {
        grid-template-columns: auto auto auto auto auto;
    }
    &.col-6 {
        grid-template-columns: auto auto auto auto auto auto;
    }

    //====================================================================

    &.place-items-center {
        place-items:center;
    }
    &.place-content-center {
        place-content:center;
    }
    &[class*="sm:col-1"], &[class*="sm:col-2"],&[class*="sm:col-3"], &[class*="sm:col-4"],&[class*="sm:col-5"],&[class*="sm-col-6"] {
        grid-template-columns:auto;
    }

    //=================================================================

    &[class*="md:col-1"], &[class*="md:col-2"],&[class*="md:col-3"], &[class*="md:col-4"],&[class*="md:col-5"],&[class*="md-col-6"] {
        grid-template-columns:auto;
    }

    //=================================================================

    &[class*="lg:col-1"], &[class*="lg:col-2"],&[class*="lg:col-3"], &[class*="lg:col-4"],&[class*="lg:col-5"],&[class*="lg-col-6"] {
        grid-template-columns:auto;
    }

    //===============================================================
    &[class*="xl:col-1"], &[class*="xl:col-2"],&[class*="xl:col-3"], &[class*="xl:col-4"],&[class*="xl:col-5"],&[class*="xl-col-6"] {
        grid-template-columns:auto;
    }
    
}

.hidden {
    display:none !important;
}
//================================================================
/*display-content*/
.display-1 {
    font-size: var(--display-1);
    font-weight: 100;
}
.display-2 {
    font-size: var(--display-2);
    font-weight: 100;
}
.display-3 {
    font-size: var(--display-3);
    font-weight: 100;
}
.display-4 {
    font-size: var(--display-4);
    font-weight: 100;
}
.display-5 {
    font-size: var(--display-5);
    font-weight: 100;
}
