/*display-content*/
.display-1 {font-size:var(--display-1);font-weight:100;} .display-2 {font-size:var(--display-2);font-weight:100;} .display-3 {font-size:var(--display-3);font-weight:100;} .display-4 {font-size:var(--display-4);font-weight:100;} .display-5 {font-size:var(--display-5);font-weight:100;} .display-6 {font-size:var(--display-6);font-weight:100;}
.flex {
    display:flex;
    position:relative;
    &.justify-center {
        justify-content: center;
    }
    &.justify-end {
        justify-content:end;
    }
    &.justify-betweeen {
        justify-content: space-between;
    }
    &.justify-evenly {
        justify-content:space-evenly;
    }
    &.justify-around {
        justify-content:space-around;
    }
    &.items-center {
        align-items: center;
    }
    &.items-end {
        align-items:end;
    }
    &.items-start {
        align-items:start;
    }
    &.items-stretch {
        align-items: stretch;
    }
    &.align-content-center {
        align-content:center;
    }
    &.align-content-baseline {
        align-content:baseline;
        
    }
    &.align-content-stretch {
        align-content:stretch;
    }

    //================================================================

    &.gap-1 {
        gap:.4em;
    }
    &.gap-2 {
        gap:.6em;
    }
    &.gap-3 {
        gap:.8em;
    }
    &.gap-4 {
        gap:1em;
    }
    &.gap-5 {
        gap:1.5em;
    }

}

.grid {
    display:grid;
    position:relative;

    &.gap-1 {
        gap:.4em;
    }
    &.gap-2 {
        gap:.6em;
    }
    &.gap-3 {
        gap:.8em;
    }
    &.gap-4 {
        gap:1em;
    }
    &.gap-5 {
        gap:1.5em;
    } 
    
    &.col-1 {
        grid-template-columns: auto;
    }
    &.col-2 {
        grid-template-columns: auto auto;
    }
    &.col-3 {
        grid-template-columns: auto auto auto;
    }
    &.col-4 {
        grid-template-columns: auto auto auto auto;
    }
    &.col-5 {
        grid-template-columns: auto auto auto auto auto;
    }
    &.col-6 {
        grid-template-columns: auto auto auto auto auto auto;
    }

    //====================================================================

    &.place-items-center {
        place-items:center;
    }
    &.place-content-center {
        place-content:center;
    }
    &[class*="sm:col-1"], &[class*="sm:col-2"],&[class*="sm:col-3"], &[class*="sm:col-4"],&[class*="sm:col-5"],&[class*="sm-col-6"] {
        grid-template-columns:auto;
    }

    //=================================================================

    &[class*="md:col-1"], &[class*="md:col-2"],&[class*="md:col-3"], &[class*="md:col-4"],&[class*="md:col-5"],&[class*="md-col-6"] {
        grid-template-columns:auto;
    }

    //=================================================================

    &[class*="lg:col-1"], &[class*="lg:col-2"],&[class*="lg:col-3"], &[class*="lg:col-4"],&[class*="lg:col-5"],&[class*="lg-col-6"] {
        grid-template-columns:auto;
    }

    //===============================================================
    &[class*="xl:col-1"], &[class*="xl:col-2"],&[class*="xl:col-3"], &[class*="xl:col-4"],&[class*="xl:col-5"],&[class*="xl-col-6"] {
        grid-template-columns:auto;
    }
    
}