.form {
    .form-label {
        color:#222;
        font-size: 1em;
        font-weight:300;
    }
    .form-input {
        display:block;
        width:100%;
        padding:.8em;
        border-radius:.4em;
        outline:none;
        border:1px solid #999;
    }
    .form-select {
        display:block;
        width:100%;
        padding:.8em;
        border-radius:.4em;
        outline:none;
        border:1px solid #999;
    }
    .form-submit {
        display:block;
        padding:10px;
        width:60%;
        margin-inline:auto;
        border:none;
        border-radius:.8em;
        cursor:pointer;
    }
}