.min-h-10 {
    min-height: 10vh;
}

.min-h-20 {
    min-height:20vh;
}
.min-h-25 {
    min-height: 25vh;
}
.min-h-40 {
    min-height: 40vh;
}
.min-h-50 {
    min-height: 50vh;
}
.min-h-75 {
    min-height: 75vh;
}
.min-h-screen {
    min-height:100vh;
}
//=======================================================
// max-height

//=======================================================
.max-h-10 {
    max-height: 10vh;
}
.max-h-20 {
    max-height: 20vh;
}
.max-h-25 {
    max-height: 25vh;
}
.max-h-40 {
    max-height: 40vh;
}
.max-h-50 {
    max-height: 50vh;
}
.max-h-75 {
    max-height: 75vh;
}
.max-h-screen {
    max-height:100vh;
}

//================================================================
// width property

.min-w-10 {
    min-width: 10vw;
}
.min-w-20 {
    min-width: 20vw;
}
.min-w-25 {
    min-width:25vw;
}

.min-w-40 {
    min-width: 40vw;
}
.min-w-50 {
    min-width: 50vw;
}
.min-w-75 {
    min-width: 75vw;
}
.min-w-screen {
    min-width:100vw;
}

//max-width property

.max-w-10 {
    max-width: 10vw;
}
.max-w-20 {
    max-width: 20vw;
}
.max-w-25 {
    max-width:25vw;
}

.max-w-40 {
    max-width: 40vw;
}
.max-w-50 {
    max-width: 50vw;
}
.max-w-75 {
    max-width: 75vw;
}
.max-w-screen {
    max-width:100vw;
}

.w-10 {
    width:10vw;
}
.w-20 {
    width:20vw;
}
.w-25 {
    width:25vw;
}
.w-40 {
    width:40vw;
}
.w-50 {
    width:50vw;
}
.w-75 {
    width:75vw;
}
.w-full {
    width:100vw;
}

.h-10 {
    height:10vh;
}
.h-20 {
    height:20vh;
}
.h-25 {
    height:25vh;
}
.h-40 {
    height:40vh;
}
.h-50 {
    height:50vh;
}
.h-75 {
    height:75vh;
}
.h-full {
    height:100vh;
}
